<!DOCTYPE html>
<html>
  <head>
    <title>Metahub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div id="flash" class="fixed-top container mt-4">
      <%= render "layouts/flash" %>
    </div>

    <div id="wrapper" class="container">
      <% if yield(:page_title).present? || yield(:page_actions).present? %>
        <%= render "layouts/page_header" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
