<!DOCTYPE html>
<html>
  <head>
    <title>Metahub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div id="wrapper" class="container shadow-sm border border-top-0 rounded-bottom border-opacity-10 bg-body-tertiary p-3 mb-3">
      <%= render "layouts/flash" %>
      <%= render "layouts/page_header" %>
      <%= yield %>
    </div>

    <footer class="text-center text-secondary fs-6 fw-blod mb-3">
      Copyright &copy; 2023
    </footer>
  </body>
</html>
